# NPM
node_modules/

# IntelliJ
*.iml
/.idea/

# macOS
.DS_Store

# development certificates
/ssl-dev/localhost.pem
/ssl-dev/localhost-key.pem

# hosting for the frontend
.vercel

# environment variables for the server
*.env