body {
  background-color: rgb(32, 32, 32);
  touch-action: none;
  overflow: hidden;
  margin: 0;
  display: flex;
  cursor: none;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

html, body, canvas { touch-action: none; }

input { pointer-events: none; }

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  margin: auto;
  pointer-events: none;
}

canvas[data-type="ui"], canvas[data-type="glaze"], canvas[data-type="freeze"] {
  position: absolute;
}

canvas[data-type="glaze"] {
  z-index: 1;
}

canvas[data-type="freeze"] {
  z-index: 2;
}

canvas[data-type="ui"] {
  z-index: 3;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
