body {
    background-color: rgb(32, 32, 32);
    touch-action: none;
    overflow: hidden;
    margin: 0;
    display: flex;
    cursor: none;
    height: 100%;
}

canvas {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    margin: auto;
}
